<header th:fragment="header">
    <link rel="stylesheet" href="/static/layui/css/layui.css" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <script src="/static/js/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="/static/js/xterm.js" charset="utf-8"></script>
    <script src="/static/js/webssh.js" charset="utf-8"></script>
    <!-- Layui Js -->
    <script type="text/javascript" src="/static/layui/layui.all.js" th:src="@{/static/layui/layui.all.js}"></script>
</header>
