[common]
server_addr=${remoteAddress}
conn_type=tcp
vkey=vgfjdjgd-32842-dsvjsd0234283-32432
auto_reconnection=true
max_conn=1000
flow_limit=1000
rate_limit=1000
basic_username=
basic_password=
web_username=choviwu
web_password=nishizhua
crypt=true
compress=true
disconnect_timeout=60
